html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  background-color: aqua;
}

.container {
  max-width: 600px;
  margin: 40px auto;
}

.switch {
  margin-top: 30px;
}

.inputNumber {
  padding: 10px 0;
  margin-right: 20px;
}
.first-inputSwitch {
  margin-right: 20px;
}

.first-inputSwitch,
.second-inputSwitch,
.bonus-array {
  padding: 10px 0;
  margin-right: 10px;
  background-color: orange;
}

.Button,
.Button-bonus {
  margin-right: 20px;
  margin-top: 30px;
  position: relative;
  border: none;
  color: #fff;
  padding: 8px 16px;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.Button:hover,
.Button-bonus:hover {
  animation: animated 8s linear infinite;
}

.Button::before,
.Button-bonus::before {
  content: "";
  position: absolute;
  inset: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 0.5s;
}

.Button:hover::before,
.Button-bonus:hover::before {
  filter: blur(20px);
}

.result,
.firstResult,
.secondResult,
.thirdResult,
.fourthResult,
.fifthResult,
.sixthResult,
.seventhResult,
.eighthResult,
.ninthResult,
.ninthResult-bonus,
.tenthResult {
  margin-top: 20px;
  font-size: 20px;
  color: red;
}

@keyframes animated {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
